# Exploring data for Audio to Text (Minority languages) project

In [1]:
import pandas as pd
transcriptions_sample_df = pd.read_csv('asr_data.csv')

In [2]:
transcriptions_sample_df.head()

,start,end,transcription,source,lang
0,4.260,7.113,"«Myaryosiw tina (Myaryosiw ti),",es100708_MatjPelaNEN.WAV,yrk
1,7.116,9.642,sawa nyeǣǣy (săwă nye).,es100708_MatjPelaNEN.WAV,yrk
2,16.638,19.785,"Pada ni yutʃitʹq (Pida ni yusidaq),",es100708_MatjPelaNEN.WAV,yrk
3,19.787,22.974,pirye yesyada tănya (pirye yesyada tănya).,es100708_MatjPelaNEN.WAV,yrk
4,94.893,97.867,"Săwawna macraaa (săwawna măncara),",es100708_MatjPelaNEN.WAV,yrk

In [25]:
transcriptions_sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3212 entries, 0 to 3211
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   start          3212 non-null   float64
 1   end            3212 non-null   float64
 2   transcription  3212 non-null   object
 3   source         3212 non-null   object
 4   lang           3212 non-null   object
dtypes: float64(2), object(3)
memory usage: 125.6+ KB

In [3]:
transcriptions_sample_df['lang'].unique()

array(['yrk', 'ckt', 'evn'], dtype=object)

In [4]:
transcriptions_sample_df.shape

(3212, 5)

In [1]:
import pandas as pd
transcriptions_df = pd.read_csv('asr_data.csv')

In [23]:
real_df= pd.read_csv('../training_data/asr.csv')
len(real_df)

98546

In [24]:
real_df.head()

,id,start,end,source,lang,transcription
0,0,1.680,3.810,5804.mp3,bak,sertifikat taratəp jœrœjœŋmœ ællæ hawmə
1,1,3.800,4.600,5804.mp3,bak,jaq
2,2,5.060,5.680,5804.mp3,bak,ultər
3,3,8.580,11.480,5804.mp3,bak,hin nindæj dokumenttar birðeŋ tip horarɣa kil...
4,4,12.315,14.015,5804.mp3,bak,hin xatta dokument aləp barmaɣanəŋmə

In [25]:
real_df['lang'].unique()

array(['bak', 'evn', 'mhr', 'xas', 'tat', 'sah'], dtype=object)

In [26]:
real_df['lang'].value_counts()

xas    75052
tat    11970
evn     3879
bak     2566
sah     2558
mhr     2521
Name: lang, dtype: int64

In [27]:
real_df['source'].value_counts()

41503.mp3     2734
27903.mp3     2280
34257.mp3     2208
20940.mp3     2066
30773.mp3     1952
              ...
98953.mp3        1
98954.mp3        1
98955.mp3        1
98956.mp3        1
110221.mp3       1
Name: source, Length: 17703, dtype: int64

In [29]:
real_df_tat = real_df[real_df['lang'] == 'bak']
real_df_tat.tail(20)

        id  start  end     source lang transcription
8946  8946    NaN  NaN  14750.mp3  bak        jomɣaq
8947  8947    NaN  NaN  14751.mp3  bak         hajer
8948  8948    NaN  NaN  14752.mp3  bak            ul
8949  8949    NaN  NaN  14753.mp3  bak       qaurhɨn
8950  8950    NaN  NaN  14754.mp3  bak           jer
8951  8951    NaN  NaN  14755.mp3  bak          ɜjek
8952  8952    NaN  NaN  14756.mp3  bak          darɨ
8953  8953    NaN  NaN  14757.mp3  bak         jeʃeu
8954  8954    NaN  NaN  14758.mp3  bak         qolaq
8955  8955    NaN  NaN  14759.mp3  bak         jeget
8956  8956    NaN  NaN  14760.mp3  bak           min
8957  8957    NaN  NaN  14761.mp3  bak           ʐil
8958  8958    NaN  NaN  14762.mp3  bak           jɨl
8959  8959    NaN  NaN  14763.mp3  bak           maj
8960  8960    NaN  NaN  14764.mp3  bak         ajɣɨr
8961  8961    NaN  NaN  14765.mp3  bak     qosaqtaɣa
8962  8962    NaN  NaN  14766.mp3  bak           jɨr
8963  8963    NaN  NaN  14767.mp3  bak          ɜjek
8964  8964    NaN  NaN  14768.mp3  bak        kerpek
8965  8965    NaN  NaN  14769.mp3  bak         jegɨt

In [18]:
translation_df= pd.read_csv('AI4TALK/training_data/translation.csv')

In [19]:
translation_df.shape

(15951, 4)

In [20]:
translation_df.head()

,id,lang,source,translation
0,0,kjh,"<?> кӧрзем, ам хыйға кізілер чахсы чуртапча.","когда посмотрю, сейчас умные люди хорошо живут."
1,1,xas,"dĭgəttə un abibaʔ, tʼerməndə mĭmbibeʔ.","потом мы муку делали, на мельницу ходили."
2,2,xas,dĭgəttə mĭlleʔbəʔjə gijen iʔgö ige sĭre.,"потом они идут туда, где много снего."
3,3,evn,горовэ-э нулгӣчэвун.,долго аргишили.
4,4,kjh,піреезі алыстырыбызар аны ещё.,кто-нибудь изменит её ещё.

In [21]:
translation_df['lang'].value_counts()

kjh    5259
xas    4907
mhr    2473
bak    1789
evn    1523
Name: lang, dtype: int64

## comments : 
- 'tat' disappeared in translation.csv? 
- and 'kjh' appeared?
- can we see a paper or web page where they explain their data ? how they collect it etc ? (for example to understand special caracters like <?> ) (if you don't have it somewhere yet, i'll search of course)

## for Wav2vec,  we need to go from  .WAV and .mp3 to float array corresponding to the raw waveform of the speech signal.

# Wav2vec  2.0 

https://huggingface.co/docs/transformers/model_doc/wav2vec2

see also Speech2Text, Speech2Text2

## metrics
metric -> Word error rate (WER)

see also BLEU (nltk)  (Aygul's presentation) + PED (phonetic edit distance)